.mainWindow {
  max-width: 200pt;
  min-height: 525pt;
  font-family: "Times New Roman"!important;
  font-size: 12pt;
  color: #d8e1e8;
  text-align: center;
  background-color: #25313c;
  border-radius: 5pt;
}

.header {
  font-size: 12pt;
  color: #d8e1e8;
  background-color: #25313c;
  font-weight: bold;
  font-family: "Times New Roman";
  vertical-align: baseline;

  text-align: left;

  width: 100%;
  height: 20pt;

  border: none;
  border-bottom: 2pt solid #354755;
  border-top-left-radius: 5pt;
  border-top-right-radius: 5pt;

  margin: 0;
  padding-left: 10pt;
  padding-right: 10pt;
}

.footer {
  font-size: 10pt;
  color: #d8e1e8;
  background-color: #25313c;
  font-weight: bold;
  font-family: "Times New Roman";

  text-align: left;

  width: 100%;
  height: 100%;

  border: none;
  border-top: 2pt solid #354755;
  border-bottom-left-radius: 5pt;
  border-bottom-right-radius: 5pt;

  margin-top: 5pt;
  padding-left: 10pt;
  padding-right: 10pt;
}

.orderSelector {
  /*width: 50%;*/
  /*height: 20pt !important;*/
  background-color: #25313c;
  text-align: center;
  font-family: "Times New Roman";
  font-size: 12pt;
  color: #d8e1e8;
  margin: 0;
  padding: 0;
  display: inline-block;
  white-space: nowrap;
}

.orderSelector.inputwindow {
  width: 50%;
/*  padding: 5pt;*/
/*  margin-bottom: 10pt;*/
  /*margin-top: 5pt;*/
  background-color: #1c252e!important;
  border-radius: 5pt;
  border: none;
}

.orderSelector.disabled {
  pointer-events: none;
}

input {
  color: "white";
}


.orderSelector.stateOn {
  border-color: #c0c0c0;
  border-bottom: 3px solid #48aff0;
  background-color: #354755;
}

.orderSelector.stateOff {
  border: 0px solid darkgrey;
  background-color: #25313c;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

.mycol {
  width: 60pt;
  background-color: #25313c;
  text-align: center;
  font-family: "Times New Roman";
  font-size: 12pt;
  color: #d8e1e8;
  margin: 0;
  padding: 0;
}

.mycol.fullborder {
  border: 1px solid darkgrey;
}

.mycol.sizeborder {
  border-left: 1px solid darkgrey;
  border-right: 1px solid darkgrey;
}

.mycol.light {
  background-color: #293742;
}

.mycol.dark {
  background-color: #25313c;
}

.mycol.left {
  text-align: left;
}

.mycol.right {
  text-align: right;
}

.container {
  width: 180pt;
  margin: auto;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px dotted #999;
}
