.selectdisable {
   -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none; 
  cursor: default;
}

.my-btn{
  background: #25313c;
  color: #d8e1e8;
  min-width: 25pt;
  text-align: center;
  padding: 0;
  border: 0px solid darkgrey; 
}

.my-btn:hover { 
  border-color: #C0C0C0; 
  background-color:#d8e1e8; 
}

.my-btn::selection{ 
  outline: width 0;
  border-bottom-color: blue;
  border-bottom-width: 2pt;
  border-bottom-style: ridge;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
outline: 0!important;
outline-color: transparent!important;
outline-width: 0!important;
outline-style: none!important;
box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
} 

/*
  border-color: #C0C0C0; 
  background-color:#d8e1e8; 
  color: #25313c;
*/  

.mycol {
  width:60pt;
  background-color: #25313c;
  text-align:center;
  font-family: "Times New Roman";
  font-size: 12pt;
  color: #d8e1e8;    
  margin:0;
  padding:0;
}

.mycol.fullborder {
  border: 1px solid darkgrey; 
}

.mycol.sizeborder {
  border-left: 1px solid darkgrey;
  border-right: 1px solid darkgrey;
}

.mycol.light {
  background-color:#354755; /*#293742;*/
}

.mycol.dark {
  background-color: #25313c;
}

.mycol.left {
  text-align:left;
}

.mycol.right {
  text-align:right;
}